<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.dao.XmgoodsMapper" >
  <resultMap id="BaseResultMap" type="com.xm.entity.xmgoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_status" property="goodsStatus" jdbcType="VARCHAR" />
    <result column="goods_caption" property="goodsCaption" jdbcType="VARCHAR" />
    <result column="goods_type_id" property="goodsTypeId" jdbcType="INTEGER" />
    <result column="goods_img" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goods_color_id" property="goodsColorId" jdbcType="VARCHAR" />
    <result column="goods_img_all" property="goodsImgAll" jdbcType="VARCHAR" />
    <result column="goods_info" property="goodsInfo" jdbcType="VARCHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="goods_date" property="goodsDate" jdbcType="DATE" />
    <result column="goods_price" property="goodsPrice" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="color_name" property="colorName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="select" resultMap="BaseResultMap">
      select * from xm_goods where id=#{id}
  </select>
  <select id="find" resultMap="BaseResultMap">
       select * from xm_goods q LEFT JOIN
 xm_type_tree w on q.goods_type_id=w.id LEFT JOIN
 xm_color e on q.goods_color_id=e.color_id LEFT JOIN
 xm_versions r on e.color_id=r.color_id
  </select>
  <sql id="Base_Column_List" >
    id, goods_name, goods_status, goods_caption, goods_type_id, goods_img, goods_color_id, 
    goods_img_all, goods_info, goods_num, goods_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xm.entity.xmgoods" >
    insert into xm_goods (id, goods_name, goods_status, 
      goods_caption, goods_type_id, goods_img, 
      goods_color_id, goods_img_all, goods_info, 
      goods_num, goods_date)
    values (#{id,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsStatus,jdbcType=VARCHAR}, 
      #{goodsCaption,jdbcType=VARCHAR}, #{goodsTypeId,jdbcType=INTEGER}, #{goodsImg,jdbcType=VARCHAR}, 
      #{goodsColorId,jdbcType=VARCHAR}, #{goodsImgAll,jdbcType=VARCHAR}, #{goodsInfo,jdbcType=VARCHAR}, 
      #{goodsNum,jdbcType=INTEGER}, now())
  </insert>
  <insert id="insertSelective" parameterType="com.xm.entity.xmgoods" >
    insert into xm_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsStatus != null" >
        goods_status,
      </if>
      <if test="goodsCaption != null" >
        goods_caption,
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id,
      </if>
      <if test="goodsImg != null" >
        goods_img,
      </if>
      <if test="goodsColorId != null" >
        goods_color_id,
      </if>
      <if test="goodsImgAll != null" >
        goods_img_all,
      </if>
      <if test="goodsInfo != null" >
        goods_info,
      </if>
      <if test="goodsNum != null" >
        goods_num,
      </if>
      <if test="goodsDate != null" >
        goods_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsStatus != null" >
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="goodsCaption != null" >
        #{goodsCaption,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null" >
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsColorId != null" >
        #{goodsColorId,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgAll != null" >
        #{goodsImgAll,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null" >
        #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null" >
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="goodsDate != null" >
        #{goodsDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xm.entity.xmgoods" >
    update xm_goods
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsStatus != null" >
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="goodsCaption != null" >
        goods_caption = #{goodsCaption,jdbcType=VARCHAR},
      </if>
      <if test="goodsTypeId != null" >
        goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null" >
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsColorId != null" >
        goods_color_id = #{goodsColorId,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgAll != null" >
        goods_img_all = #{goodsImgAll,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null" >
        goods_info = #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null" >
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="goodsDate != null" >
        goods_date = #{goodsDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xm.entity.xmgoods" >
    update xm_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_status = #{goodsStatus,jdbcType=VARCHAR},
      goods_caption = #{goodsCaption,jdbcType=VARCHAR},
      goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      goods_color_id = #{goodsColorId,jdbcType=VARCHAR},
      goods_img_all = #{goodsImgAll,jdbcType=VARCHAR},
      goods_info = #{goodsInfo,jdbcType=VARCHAR},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      goods_date = #{goodsDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>