<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.dao.xmorderMapper" >
  <resultMap id="BaseResultMap" type="com.xm.entity.xmorder" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="order_price" property="orderPrice" jdbcType="DECIMAL" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_num" property="goodsNum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_info" property="orderInfo" jdbcType="VARCHAR" />
    <result column="oreder_date" property="orderDate" jdbcType="DATE" />
    <result column="delivery_time" property="deliverytime" jdbcType="DATE" />
  </resultMap>
  <select id="select" resultMap="BaseResultMap">

      select * from xm_order where order_id=#{id}
  </select>
  <select id="find" resultMap="BaseResultMap">
     select * from xm_order <include refid="sqldq"></include>
  </select>
  <sql id="sqldq">
    <where>
      <if test="orderId!=null and orderId!=''">
        and  order_id=#{orderId}
      </if>
    </where>

  </sql>
  <insert id="insert" parameterType="com.xm.entity.xmorder">
    insert into xm_order (order_id, order_number, order_status,
      pay_status, order_price, goods_name,
      goods_num, user_id, order_info,
      oreder_date, delivery_time)
    values (#{orderId,jdbcType=INTEGER}, #{orderNumber,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER},
      #{payStatus,jdbcType=INTEGER}, #{orderPrice,jdbcType=DECIMAL}, #{goodsName,jdbcType=VARCHAR},
      #{goodsNum,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderInfo,jdbcType=VARCHAR},
     #{orderDate,jdbcType=TIMESTAMP}, SYSDATE())
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <select id="finddoctorBean" resultMap="BaseResultMap">
    select * from xm_order
  </select>

</mapper>