<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>淦用户管理页面</title>

    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../js/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-datetimepicker.fr.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
    <!--在客户端保存生成的导出文件-->
    <script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <!--以XLSX（Excel 2007+ XML格式）格式导出表（SheetJS）-->
    <script src="https://cdn.bootcss.com/xlsx/0.14.2/xlsx.core.min.js"></script>
    <!--以PNG格式导出表格-->
    <!--对于IE支持包括 html2canvas 之前的 es6-promise-->
    <script src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <!--将表导出为PDF文件-->
    <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <!--无论期望的格式如何，最后都包含 tableexport.jquery.plugin（不是tableexport）-->
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/fileinput.min.css">
    <script src="../js/bootstrap/js/fileinput.min.js"></script>
</head>

<body>
<div class="content">
    <form role="form">
        <div class="form-group countryList">
            <label><span class="star">*</span>都道府県</label>
            <select name="" id="" class="form-control province"
                    onmousedown="if(this.options.length>6){this.size=7}" onblur="this.size=0"
                    onchange="this.size=0">
                <option value="">请选择都道</option>
            </select>
            <select name="" id="" class="form-control city" onmousedown="if(this.options.length>6){this.size=7}"
                    onblur="this.size=0" onchange="this.size=0">
                <option value="">请选择府</option>
            </select>
            <select name="" id="" class="form-control area" onmousedown="if(this.options.length>6){this.size=7}"
                    onblur="this.size=0" onchange="this.size=0">
                <option value="">请选择县</option>
            </select>
        </div>
    </form>
</div>
</body>
<script>
    // 城市联动接口
    var firstLevel = [];  //一级（省）
    var secondLevel = []; //二级（市）
    var thirdLevel = [];  //三级（区）
    $(function () {
        $.ajax({
            url: "/area/areafindll",  //请求地址
            type: 'GET',
            contentType: "application/json",

            success: function (data) {
                var data = data.data
                for (i = 0; i < data.length; i++) {  //分别把省市区装成数组
                    if (data[i].level === 0) {
                        firstLevel.push(data[i])
                    } else if (data[i].level === 1) {
                        secondLevel.push(data[i])
                    } else if (data[i].level === 2) {
                        thirdLevel.push(data[i])
                    }
                }
                //组成新的省市区层级json
                thirdLevel.forEach((item) = > {
                    let _index = secondLevel.findIndex((seconditem) = > {
                        return seconditem.code === item.pCode
                    }
            )
                if (_index > -1) {
                    if (!secondLevel[_index].children) {
                        secondLevel[_index].children = []
                    }
                    secondLevel[_index].children.push(item)
                }
            })
                secondLevel.forEach((item) = > {
                    let _index = firstLevel.findIndex((seconditem) = > {
                        return seconditem.code === item.pCode
                    }
            )
                if (_index > -1) {
                    if (!firstLevel[_index].children) {
                        firstLevel[_index].children = []
                    }
                    firstLevel[_index].children.push(item)
                }
            })
                // console.log(firstLevel)

                //分别渲染省市区下拉菜单select
                for (var j = 0; j < firstLevel.length; j++) {
                    /* 一级   */
                    if (firstLevel != null) {
                        var html = "";
                        var htmlL = "";
                        var htmlM = "";
                        for (var i = 0; i < firstLevel.length; i++) {
                            htmlL = "<option value=''>请选择都道</option>"
                            html += "<option value='" + firstLevel[i].name + "'>" + firstLevel[i].name + "</option>";
                            htmlM = htmlL + html;
                        }
                        $(".province").html(htmlM);
                    }
                    // 二级
                    $(".province").change(function () {
                        var htmls = "";
                        var htmlL = "";
                        var htmlM = "";
                        if (firstLevel != null) {
                            for (var i = 0; i < firstLevel.length; i++) {
                                if ($(this).val() == firstLevel[i].name) {
                                    var a = firstLevel[i].children;
                                    // console.log(a);
                                    for (var j = 0; j < a.length; j++) {
                                        htmlL = "<option value=''>请选择府</option>"
                                        htmls += "<option value='" + a[j].name + "'>" + a[j].name + "</option>";
                                        htmlM = htmlL + htmls;
                                    }
                                    $(".city").html(htmlM);
                                }
                            }
                        }
                    })
                    // 三级
                    $(".city").change(function () {
                        var htmls = "";
                        var htmlL = "";
                        var htmlM = "";
                        if (firstLevel != null) {
                            for (var i = 0; i < firstLevel.length; i++) {
                                var ss = firstLevel[i].children;
                                for (j = 0; j < ss.length; j++) {
                                    if ($(this).val() == ss[j].name) {
                                        var a = ss[j].children
                                        for (m = 0; m < a.length; m++) {
                                            htmlL = "<option value=''>请选择县</option>"
                                            htmls += "<option value='" + a[m].name + "'>" + a[m].name + "</option>";
                                            htmlM = htmlL + htmls;
                                        }

                                    }
                                }
                                $(".area").html(htmlM);
                            }
                        }
                    })
                }

            },
            error: function () {
                console.log('数据发送失败');
            }
        });
    })


</script>
