<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../js/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-datetimepicker.fr.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
    <!--在客户端保存生成的导出文件-->
    <script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <!--以XLSX（Excel 2007+ XML格式）格式导出表（SheetJS）-->
    <script src="https://cdn.bootcss.com/xlsx/0.14.2/xlsx.core.min.js"></script>
    <!--以PNG格式导出表格-->
    <!--对于IE支持包括 html2canvas 之前的 es6-promise-->
    <script src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <!--将表导出为PDF文件-->
    <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <!--无论期望的格式如何，最后都包含 tableexport.jquery.plugin（不是tableexport）-->
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/fileinput.min.css">
    <script src="../js/bootstrap/js/fileinput.min.js"></script>
</head>


<body>
<form id="pic" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="${userComplete.id}">
    <div  class="row">
        <div class="col-xs-2">
            <label class="control-label">营业执照：</label>
        </div>
        <div class="col-xs-4 updateP1">
            <img src="${pageContext.request.contextPath}/corporation/showImages/${userComplete.businessLicense}"
                 id="businessLicense"
                 style="width: 150px;height: 150px; border:1px solid #989898;">
            <input type="hidden" name="businessLicense" value="${userComplete.businessLicense}"/>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="col-md-12">
                    <input type="file" name="file1" id="file1">
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="重新上传" onclick="doUpload1()">
            </div>
        </div>
    </div>
    <div  class="row">
        <div class="col-xs-1 col-xs-offset-3">
            <input type="submit" name="提交" class="btn btn-danger">
        </div>
    </div>
</form>


</body>
<script>
    //图片预览路径
    function getObjectURL(file) {
        var url = null;
        if(window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if(window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if(window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    function doUpload1(){
        var formd = new FormData($("#pic")[0]);
        var imgurl = getObjectURL($("#file1")[0].files[0]);
        $("#businessLicense").attr({
            "src":imgurl
        });
        var url="${pageContext.request.contextPath}/corporation/sendFile1";
        $.ajax({
            type:"post",
            url:url,
            data:formd,
            contentType:false,
            processData:false,
            dataType:"json",
            success:function (data) {
                if(null!=data && data.flag==true){
                    alert("上传成功！");
                    $("#pic input[name='businessLicense']").val(data.filename);
                }
            },error:function (data) {
                alert(1);
                alert(data.message);
            }
        });
    }
    $("#pic").submit(function () {
        var data = $("#pic").serialize();
        $.ajax({
            url:"${pageContext.request.contextPath}/corporation/updateCorporation",
            data:data,
            type:"post",
            datatype:"json",
            success:function (data) {
                if(data){
                    alert("修改成功！");
                }
            }
        })
    });


</script>
</html>
