<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.2/jquery.js"></script>
</head>
<body>
<form id="uoloadForm" enctype="multipart/form-data"/>
    <input type="file" id="fileName" name="file"/><br>
    <span id="fileError"></span><br>
    <input type="button" value="上传" onclick="uploadFile()"/>
</form>
<div id="div"></div>
</body>
<script >
    function uploadFile() {
        $("#fileError").html("");
        var filename = $("#fileName").val();
        var fileType = filename.substr(filename.length-4,filename.length);
        var name= "";
        if(fileType == '.jpg' || fileType == '.jpeg' || fileType == '.gif' || fileType == '.png'){
            $.ajax({
                url:'/imgFile/uploadFile',
                type:'post',
                cache:false,
                data: new FormData($("#uoloadForm")[0]),
                processData:false,
                contentType:false,
                success:function(data){
                    name += data.name;
                    alert(name);
                    if(data.status == "error"){
                        $("#fileError").html("<font color='red'>上传文件类型不识别</font>")
                    }else{
                        $('#div').append('<img src="'+ data.name +'" style="width 300px;height: 200px"/>')
                    }
                }
            })
        }else {
            $("#fileError").html("<font color='red'>请选择上传文件</font>");
        }
    }
</script>
</html>