.centre4 {
    position: absolute;
    /*width: 100%;*/
    height: 180px;
    padding-top: 10px;
    /*background-color: yellow;*/
    width: 1226px;
    margin: 0 auto;
}

.centre4 {
    position: relative;
}

.centre4:after {
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

.rest {
    width: 228px;
    height: 164px;
    padding: 3px;
    float: left;
    background-color: #5f5750;
}

.rest ul li {
    display: block;
    width: 70px;
    height: 46px;
    /*padding-top: 18px;*/
    float: left;
    /*line-height: 46px;*/
    text-align: center;
    font-size: 14px;
}

.rest ul li a {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

.rest-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.advertising ul li {
    display: inline-block;
    margin-left: 12px;
}

.img2 {
    margin-top: 15px;
    width: 20px;
    height: 20px;
}

.img3 {
    margin-top: 40px;
    width: 20px;
    height: 20px;
}

.img1 {
    width: 316px;
    height: 170px;
    float: right;
}

.title {
    padding-top: 20px;
    height: 58px;
    width: 1226px;
    margin: 0 auto;
    font-size: 22px;
    color: #333;
    line-height: 58px;
}

.advertising ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.7);
}