.advertising-img {
    width: 1226px;
    height: 120px;
    margin: auto;
}

#content3_2_content_top_right {
    width: 93px;
    /*height: 30px;*/
    font-size: 17px;
    float: right;
    /*line-height: 30px;*/
    /*margin-top: 13px;*/
}

#content3_2_content_top_right div {
    float: left;
}

#sp {
    color: black;
}

#dv2 {
    height: 55px;
    padding-top: 5px;
}


.centre {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.centre8 {
    width: 1226px;
    height: 700px;
    /*border: 1px solid blue;*/
    margin: auto;
}

.centre7 {
    width: 1226px;
    height: 650px;
    margin: auto;
    /*border: 1px solid black;*/
}

.page-main {
    width: 100%;
    height: 700px;
    border: 1px solid d;
    background-color: #f5f5f5;
    /*padding-top: 100px;*/
    /*padding-bottom: 80px;*/
    margin: auto;
}

.page-main:after {
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}

/*.phone-advertising{*/
/*float: left;*/
/*width: 234px;*/
/*height: 614px;*/
/*}*/
.left-advertising_1 {
    float: left;
    width: 234px;
    height: 614px;
}

.left-advertising_1 ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.left-advertising {
    float: left;
    width: 234px;
    height: 614px;
}

.left-advertising:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box {
    width: 992px;
    height: 614px;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}

.main-box1 {
    width: 992px;
    height: 614px;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}

.main-box2 {
    width: 992px;
    height: 614px;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}

.main-box3 {
    width: 992px;
    height: 614px;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}

.main-box4 {
    width: 992px;
    height: 614px;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}

.main-box5 {
    width: 992px;
    height: 614px;
    float: left;
    margin: auto;
    margin-bottom: 40px;
}

.little-box {
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    height: 300px;
    width: 234px;
    background-color: #fff;
    text-align: center;
}

.phone-image {
    width: 160px;
    height: 160px;
    padding-top: 30px;

}

.price {
    font-size: 14px;
    color: red;
    text-align: center;
}

.flag-new {
    background-color: green;
}

.main-box ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box1 ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box2 ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box3 ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box4 ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box5 ul li:hover {
    /*上移，变大*/
    transform: translateY(-1px) scale(1.02);
    /*阴影*/
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.7);
}

.main-box ul li a:hover {
    text-decoration: none;
}

.main-box ul li a {
    display: block;
}

.extra-config {
    padding-bottom: 30px;
}

.home-appliances {
    margin-bottom: 14px;
    width: 234px;
    height: 300px;
}

.flag-none {
    background-color: #ffffff;
}

.water {
    width: 234px;
    float: left;
    height: 93px;
    padding-top: 50px;
    position: relative;
}

.water .water-image {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 30px;
}

.little-box-none {
    width: 234px;
    height: 14px;
    background-color: #f5f5f5;
    float: left;
}

.water-image2 {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 50px;
    right: 20px;

}

.share-h3 {
    font-weight: normal;
    font-size: 14px;
    color: #212121;
}

.p-3 {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin: 10px 0;
}

.p-4 {
    font-size: 14px;
    color: red;
}

.original-price {
    color: #b0b0b0;
    text-decoration: line-through;
}

.seckill ul li a:hover {
    text-decoration: none;
}

.centre8 {
    width: 1226px;
    height: 650px;
    margin: auto;
    /*border:  1px solid yellowgreen;*/
}

.centre9 {
    width: 1226px;
    height: 650px;
    margin: auto;
    /*border:  1px solid yellowgreen;*/
}

.centre10 {
    width: 1226px;
    height: 650px;
    margin: auto;
    /*border:  1px solid yellowgreen;*/
}

.title1 {
    padding-top: 20px;
    height: 58px;
    width: 1226px;
    margin: 0 auto;
    /*font-size: 22px;*/
    color: #333;
    line-height: 58px;
}


#content3_3_content_top_left,
#content3_4_content_top_left,
#content3_5_content_top_left,
#content3_6_content_top_left,
#content3_7_content_top_left {
    width: 100px;
    height: 58px;
    font-size: 23px;
    line-height: 58px;
    color: black;
    float: left;
}

#content3_2_content_top_right {
    width: 93px;
    height: 30px;
    font-size: 17px;
    float: right;
    line-height: 30px;
    margin-top: 13px;
}

#content3_2_content_top_right div {
    float: left;
}

#sp {
    color: black;
}

#dv2 {
    height: 55px;
    padding-top: 5px;
}

.content3_2_lic {
    margin-top: 19px;
}

#content3_3_content_top_right,
#content3_5_content_top_right,
#content3_7_content_top_right {
    width: 145px;
    height: 60px;
    float: right;
}

#content3_4_content_top_right,
#content3_6_content_top_right {
    width: 210px;
    height: 60px;
    float: right;
}

#content3_3_content_top_right_1, #content3_3_content_top_right_2,
#content3_4_content_top_right_1, #content3_4_content_top_right_2, #content3_4_content_top_right_3,
#content3_5_content_top_right_1, #content3_5_content_top_right_2,
#content3_6_content_top_right_1, #content3_6_content_top_right_2, #content3_6_content_top_right_3,
#content3_7_content_top_right_1, #content3_7_content_top_right_2 {
    width: 70px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    float: left;
}

.ri1 {
    padding-bottom: 5px;
    border-bottom: 2px solid orangered;
    color: orangered;
    cursor: pointer;
}

.little-box_01 {
    float: left;
    width: 234px;
    height: 300px;
    /*border: 1px solid yellowgreen;*/
    background-color: white;
    text-align: center;
    /*margin-left: 10px;*/
}

.little-box_02 {
    float: left;
    width: 234px;
    height: 150px;
    /*border: 1px solid yellowgreen;*/
    background-color: white;
    text-align: center;
    margin-left: 10px;
}

