#content3_8 {
    width: 1226px;
    height: 350px;
    margin: auto;
    /*border:  1px solid yellowgreen;*/
}

#content3_8_top {
    width: 1226px;
    height: 50px;
}

#content3_8_top_left {
    width: 100px;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
    color: black;
    float: left;
}

#content3_8_top_right {
    width: 93px;
    height: 30px;
    font-size: 17px;
    float: right;
    line-height: 30px;
    margin-top: 13px;
}

#content3_8_top_right div {
    float: left;
}

#content3_8_video {
    width: 1226px;
    height: 280px;
}

#content3_8_video ul li {
    width: 290px;
    height: 200px;
    list-style-type: none;
    float: left;
    margin-right: 15px;
    text-align: center;
    color: #3C423C;

}

.videosp {
    width: 290px;
    height: 200px;
    /*margin-right: 25px;*/
    object-fit: cover;
}